Repository iuggyugWQE/1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ClangTidy, EOS_CPlusPlus, GMF, MM_SimpleBP, MM_SimpleCPP, RSI, OSB_EpicEOS, OSB_LoginUI, OSB_Null, OSB_RedpointEOS, OSB_Steam

Path conditions:
  ClangTidy: any of: ClangTidy/**/*
  EOS_CPlusPlus: any of: EOS_CPlusPlus/**/*
  GMF: any of: GMF/**/*
  MM_SimpleBP: any of: MM_SimpleBP/**/*
  MM_SimpleCPP: any of: MM_SimpleCPP/**/*
  RSI: any of: RSI/**/*
  OSB_EpicEOS: any of: OSB_EpicEOS/**/*
  OSB_LoginUI: any of: OSB_LoginUI/**/*
  OSB_Null: any of: OSB_Null/**/*
  OSB_RedpointEOS: any of: OSB_RedpointEOS/**/*
  OSB_Steam: any of: OSB_Steam/**/*

Update example projects for skill-based matchmaking release
  MM_SimpleBP/Config/DefaultEditor.ini
  MM_SimpleBP/Config/DefaultEngine.ini
  MM_SimpleBP/Content/Matchmaking/ExampleMatchmaker.uasset
  MM_SimpleBP/Content/Matchmaking/MainMenu.umap
  MM_SimpleCPP/Config/DefaultEditor.ini
  MM_SimpleCPP/Config/DefaultEngine.ini
  MM_SimpleCPP/Content/Matchmaking/ExampleMatchmaker.uasset
  MM_SimpleCPP/Content/Matchmaking/MainMenu.umap
Due: MM_SimpleBP, MM_SimpleCPP

Add seamless networking Gauntlet tests to EOS
  .gitignore
  .gitlab-ci.yml
  BuildConfig.json
  BuildScriptsExtra/CloneHelper.ps1
  BuildScriptsExtra/EOS_CPlusPlus_DeviceList.json
  BuildScriptsExtra/EOS_CPlusPlus_GauntletTest.cs
  EOS_CPlusPlus/Config/DefaultEditor.ini
  EOS_CPlusPlus/Config/DefaultGame.ini
  EOS_CPlusPlus/ExampleOSS.uproject
  EOS_CPlusPlus/Source/ExampleOSS/Lobbies/LobbiesTypes.h
  OSB_EpicEOS/Config/DefaultGame.ini
  OSB_Null/Config/DefaultGame.ini
  OSB_RedpointEOS/Config/DefaultEditor.ini
  OSB_RedpointEOS/Config/DefaultGame.ini
  OSB_Steam/Config/DefaultGame.ini
Due: EOS_CPlusPlus, OSB_EpicEOS, OSB_Null, OSB_RedpointEOS, OSB_Steam

Fix Agones subsystem code for latest Agones release
  EOS_CPlusPlus/Source/ExampleOSS/AgonesSubsystem.cpp
Due: EOS_CPlusPlus

Update Replicated Sublevel Instances example to UE5
  .gitlab-ci.yml
  RSI/Content/DemoWorld.umap
  RSI/Content/RotationTest/RotationOwnerLevel.umap
  RSI/Content/RotationTest/RotationSublevel.umap
  RSI/Content/RotationTest/RotationTestActor.uasset
  RSI/Content/RotationTest/TextEmissive.uasset
  RSI/RSIDemo.uproject
Due: RSI

Update README
  README.md
Due: none

Update Game Management Framework for UE5
  .gitlab-ci.yml
  GMF/GMFTest.uproject
Due: GMF

Enable manual builds through GitLab CI/CD
  .gitlab-ci.yml
Due: none

Update EOS and OSB projects for Unreal Engine 5.0
  EOS_CPlusPlus/Content/ExampleOSS/C++/Session/CppSessionServices.uasset
  EOS_CPlusPlus/Content/ExampleOSS/Common/BaseTasks/Session/BaseSessionServices.uasset
  EOS_CPlusPlus/Content/ExampleOSS/Common/DemoUI.uasset
  EOS_CPlusPlus/Content/ExampleOSS/Common/Multiplayer/MultiplayerUI.uasset
  EOS_CPlusPlus/ExampleOSS.uproject
  EOS_CPlusPlus/README.md
  EOS_CPlusPlus/Source/ExampleOSS/ExampleCPPSubsystem.cpp
  EOS_CPlusPlus/Source/ExampleOSS/ExampleCPPSubsystem.h
  OSB_EpicEOS/Content/ExampleOSS/Blueprints/Session/BpSessionServices.uasset
  OSB_EpicEOS/Content/ExampleOSS/Common/BaseTasks/Session/BaseSessionServices.uasset
  OSB_EpicEOS/Content/ExampleOSS/Common/DemoUI.uasset
  OSB_EpicEOS/Content/ExampleOSS/Common/Multiplayer/MultiplayerUI.uasset
  OSB_EpicEOS/OSB_EpicEOS.uproject
  OSB_Null/Content/ExampleOSS/Blueprints/Session/BpSessionServices.uasset
  OSB_Null/Content/ExampleOSS/Common/BaseTasks/Session/BaseSessionServices.uasset
  OSB_Null/Content/ExampleOSS/Common/DemoUI.uasset
  OSB_Null/Content/ExampleOSS/Common/Multiplayer/MultiplayerUI.uasset
  OSB_Null/OSB_Null.uproject
  OSB_RedpointEOS/Content/ExampleOSS/Blueprints/Session/BpSessionServices.uasset
  OSB_RedpointEOS/Content/ExampleOSS/Common/BaseTasks/Session/BaseSessionServices.uasset
  OSB_RedpointEOS/Content/ExampleOSS/Common/DemoUI.uasset
  OSB_RedpointEOS/Content/ExampleOSS/Common/Multiplayer/MultiplayerUI.uasset
  OSB_RedpointEOS/OSB_RedpointEOS.uproject
  OSB_RedpointEOS/README.md
  OSB_Steam/Content/ExampleOSS/Blueprints/Session/BpSessionServices.uasset
  OSB_Steam/Content/ExampleOSS/Common/BaseTasks/Session/BaseSessionServices.uasset
  OSB_Steam/Content/ExampleOSS/Common/DemoUI.uasset
  OSB_Steam/Content/ExampleOSS/Common/Multiplayer/MultiplayerUI.uasset
  OSB_Steam/OSB_Steam.uproject
Due: EOS_CPlusPlus, OSB_EpicEOS, OSB_Null, OSB_RedpointEOS, OSB_Steam

Exclude 4.27 targets from build
  .gitlab-ci.yml
  OSB_LoginUI/OSBDemo.uproject
Due: OSB_LoginUI

Fix ClangTidy build
  ClangTidy/Content/.gitkeep
Due: ClangTidy

Update Matchmaking projects to target UE5
  .gitlab-ci.yml
  ClangTidy/ClangTidyExample.uproject
  MM_SimpleBP/MM_SimpleBP.uproject
  MM_SimpleBP/README.md
  MM_SimpleCPP/MM_SimpleCPP.uproject
  MM_SimpleCPP/README.md
Due: ClangTidy, MM_SimpleBP, MM_SimpleCPP

Update links in README
  README.md
Due: none

Update CloneHelper.ps1 for new GitLab URL
  BuildScriptsExtra/CloneHelper.ps1
Due: none

Fix links to Getting Started page
  EOS_CPlusPlus/README.md
  MM_SimpleBP/README.md
  MM_SimpleCPP/README.md
  OSB_RedpointEOS/README.md
Due: EOS_CPlusPlus, MM_SimpleBP, MM_SimpleCPP, OSB_RedpointEOS

Update GMF example project to 5.1
  GMF/GMFTest.uproject
Due: GMF

Update example projects for 5.1
  .gitlab-ci.yml
Due: none

Update generation for newer BuildScripts
  .gitlab-ci.yml
Due: none

Update RSI example project for 5.1
  RSI/.vsconfig
  RSI/Config/DefaultEngine.ini
  RSI/Config/DefaultInput.ini
  RSI/Content/DemoWorld.umap
  RSI/Content/StarterContent/Materials/M_Brick_Clay_Old.uasset
  RSI/Content/StarterContent/Materials/M_Ceramic_Tile_Checker.uasset
  RSI/Content/StarterContent/Materials/M_CobbleStone_Smooth.uasset
  RSI/Content/StarterContent/Materials/M_Concrete_Poured.uasset
  RSI/Content/StarterContent/Materials/M_Ground_Moss.uasset
  RSI/Content/StarterContent/Materials/M_Tech_Hex_Tile.uasset
  RSI/Content/StarterContent/Textures/T_Brick_Clay_Old_D.uasset
  RSI/Content/StarterContent/Textures/T_Brick_Clay_Old_N.uasset
  RSI/Content/StarterContent/Textures/T_Ceramic_Tile_M.uasset
  RSI/Content/StarterContent/Textures/T_Ceramic_Tile_N.uasset
  RSI/Content/StarterContent/Textures/T_CobbleStone_Smooth_D.uasset
  RSI/Content/StarterContent/Textures/T_CobbleStone_Smooth_M.uasset
  RSI/Content/StarterContent/Textures/T_CobbleStone_Smooth_N.uasset
  RSI/Content/StarterContent/Textures/T_Concrete_Poured_D.uasset
  RSI/Content/StarterContent/Textures/T_Concrete_Poured_N.uasset
  RSI/Content/StarterContent/Textures/T_Gradinet_01.uasset
  RSI/Content/StarterContent/Textures/T_Ground_Moss_N.uasset
  RSI/Content/StarterContent/Textures/T_MacroVariation.uasset
  RSI/Content/StarterContent/Textures/T_Perlin_Noise_M.uasset
  RSI/Content/StarterContent/Textures/T_Rock_Marble_Polished_D.uasset
  RSI/Content/StarterContent/Textures/T_Rock_Smooth_Granite_D.uasset
  RSI/Content/StarterContent/Textures/T_Tech_Hex_Tile_M.uasset
  RSI/Content/StarterContent/Textures/T_Tech_Hex_Tile_N.uasset
  RSI/Content/StarterContent/Textures/T_ground_Moss_D.uasset
  RSI/Platforms/HoloLens/Config/HoloLensEngine.ini
  RSI/README.md
  RSI/RSIDemo.uproject
Due: RSI

Fix generation command
  .gitlab-ci.yml
Due: none

Update clang-tidy example for 5.1
  ClangTidy/.vsconfig
  ClangTidy/ClangTidyExample.uproject
Due: ClangTidy

Get GMF project to build on this merge request
  GMF/GMFTest.uproject
Due: GMF

Update EOS and OSB projects for 5.1
  EOS_CPlusPlus/ExampleOSS.uproject
  EOS_CPlusPlus/README.md
  EOS_CPlusPlus/Source/ExampleOSS.Target.cs
  EOS_CPlusPlus/Source/ExampleOSSDeveloper/Gauntlet/EOSGauntletRunAutomationTestsTestController.cpp
  EOS_CPlusPlus/Source/ExampleOSSEditor.Target.cs
  EOS_CPlusPlus/Source/ExampleOSSEditor/EraseTasksCommandlet.cpp
  EOS_CPlusPlus/Source/ExampleOSSEditor/EraseTasksCommandlet.h
  EOS_CPlusPlus/Source/ExampleOSSEditor/ExampleOSSEditor.Build.cs
  EOS_CPlusPlus/Source/ExampleOSSEditor/ExampleOSSEditorModule.cpp
  EOS_CPlusPlus/Source/ExampleOSSServer.Target.cs
  OSB_EpicEOS/OSB_EpicEOS.uproject
  OSB_Null/OSB_Null.uproject
  OSB_RedpointEOS/OSB_RedpointEOS.uproject
  OSB_RedpointEOS/README.md
  OSB_Steam/OSB_Steam.uproject
Due: EOS_CPlusPlus, OSB_EpicEOS, OSB_Null, OSB_RedpointEOS, OSB_Steam

Fix BpPartyServices for 5.1
  OSB_EpicEOS/Content/ExampleOSS/Blueprints/Parties/BpPartyServices.uasset
  OSB_Null/Content/ExampleOSS/Blueprints/Parties/BpPartyServices.uasset
  OSB_RedpointEOS/Content/ExampleOSS/Blueprints/Parties/BpPartyServices.uasset
  OSB_Steam/Content/ExampleOSS/Blueprints/Parties/BpPartyServices.uasset
Due: OSB_EpicEOS, OSB_Null, OSB_RedpointEOS, OSB_Steam

Mark examples as 5.1
  README.md
Due: none

Update Matchmaking projects for 5.1
  MM_SimpleBP/MM_SimpleBP.uproject
  MM_SimpleCPP/MM_SimpleCPP.uproject
Due: MM_SimpleBP, MM_SimpleCPP

Revert ping display as it uses blueprint nodes that are not available in C++
  EOS_CPlusPlus/Content/ExampleOSS/Common/Multiplayer/MultiplayerPlayerState.uasset
  OSB_EpicEOS/Content/ExampleOSS/Common/Multiplayer/MultiplayerPlayerState.uasset
  OSB_Null/Content/ExampleOSS/Common/Multiplayer/MultiplayerPlayerState.uasset
  OSB_RedpointEOS/Content/ExampleOSS/Common/Multiplayer/MultiplayerPlayerState.uasset
  OSB_Steam/Content/ExampleOSS/Common/Multiplayer/MultiplayerPlayerState.uasset
Due: EOS_CPlusPlus, OSB_EpicEOS, OSB_Null, OSB_RedpointEOS, OSB_Steam

Test ZIP generation for example projects
  .gitlab-ci.yml
Due: none

Fix for "Upload Examples" step
  .gitlab-ci.yml
Due: none

Optimize upload step
  .gitlab-ci.yml
Due: none

Tweak release listings
  .gitlab-ci.yml
Due: none

Update README with link to releases page
  README.md
Due: none

Use timestamp in release notes
  .gitlab-ci.yml
Due: none
