Repository iuggyugWQE/1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ClangTidy, EOS_CPlusPlus, GMF, MM_SimpleBP, MM_SimpleCPP, RSI, OSB_EpicEOS, OSB_LoginUI, OSB_Null, OSB_RedpointEOS, OSB_Steam

Path conditions:
  ClangTidy: any of: ClangTidy/**/*
  EOS_CPlusPlus: any of: EOS_CPlusPlus/**/*
  GMF: any of: GMF/**/*
  MM_SimpleBP: any of: MM_SimpleBP/**/*
  MM_SimpleCPP: any of: MM_SimpleCPP/**/*
  RSI: any of: RSI/**/*
  OSB_EpicEOS: any of: OSB_EpicEOS/**/*
  OSB_LoginUI: any of: OSB_LoginUI/**/*
  OSB_Null: any of: OSB_Null/**/*
  OSB_RedpointEOS: any of: OSB_RedpointEOS/**/*
  OSB_Steam: any of: OSB_Steam/**/*

Fix uassets affected by redirect removal
  EOS_CPlusPlus/Content/ExampleOSS/C++/Multiplayer/CppNonSeamlessTravelTask.uasset
  EOS_CPlusPlus/Content/ExampleOSS/C++/Multiplayer/CppSeamlessTravelTask.uasset
  EOS_CPlusPlus/Content/ExampleOSS/C++/Presence/CppPresenceServices.uasset
Due: EOS_CPlusPlus

Fix release build step
  .gitlab-ci.yml
Due: none

Update RSI for 5.2
  RSI/RSIDemo.uproject
Due: RSI

Update example projects for 5.2
  EOS_CPlusPlus/Content/ExampleOSS/Common/DemoMap.umap
  EOS_CPlusPlus/Content/ExampleOSS/Common/UIComponents/Ecom/EcomUI.uasset
  EOS_CPlusPlus/ExampleOSS.uproject
  EOS_CPlusPlus/README.md
  OSB_EpicEOS/Content/ExampleOSS/Common/DemoMap.umap
  OSB_EpicEOS/Content/ExampleOSS/Common/UIComponents/Ecom/EcomUI.uasset
  OSB_EpicEOS/OSB_EpicEOS.uproject
  OSB_Null/Content/ExampleOSS/Common/DemoMap.umap
  OSB_Null/Content/ExampleOSS/Common/UIComponents/Ecom/EcomUI.uasset
  OSB_Null/OSB_Null.uproject
  OSB_RedpointEOS/Content/ExampleOSS/Common/DemoMap.umap
  OSB_RedpointEOS/Content/ExampleOSS/Common/UIComponents/Ecom/EcomUI.uasset
  OSB_RedpointEOS/OSB_RedpointEOS.uproject
  OSB_RedpointEOS/README.md
  OSB_Steam/Content/ExampleOSS/Common/DemoMap.umap
  OSB_Steam/Content/ExampleOSS/Common/UIComponents/Ecom/EcomUI.uasset
  OSB_Steam/OSB_Steam.uproject
Due: EOS_CPlusPlus, OSB_EpicEOS, OSB_Null, OSB_RedpointEOS, OSB_Steam

Update README
  README.md
Due: none

Target 5.2 for the build jobs
  .gitlab-ci.yml
Due: none
